In [19]:
import pandas as pd
import re

In [76]:
student = pd.read_csv("../data/student/student_cleaned.csv")

In [98]:
pd.set_option('display.max_columns', None)
student.describe(include='all')

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Zip,International,Admitted,Enrolled,ApplicantStatus,SexCode,School Type,RepeatingGrade,AdmissionsYr,BU Affiliation,SiblingConnection,InterviewRating,InterviewRating2,InterviewRating3,AppRecdDate,AppRecdMonth,InquiryDate,Ethnicity,Decision_Rating1,Decision_Rating2,Decision_Rating3,Decision_Rating4,SSATDate,SSATGrade,SSATVerbal,SSATQuantitative,SSATReading,SSATTotal
count,2085.000000,2085.000000,2085.000000,2034,41,2085,2085,2085,2085,2085,2085,2085.0000,96,2084,1194.000000,1194.000000,1194.000000,2079,2085.000000,2084,2085,1855.000000,1855,1855.000000,1856.000000,2085,2078.000000,2085.000000,2085.000000,2084.000000,2085.000000
unique,NaN,NaN,NaN,240,1,2,2,7,2,7,2,NaN,2,2,NaN,NaN,NaN,881,NaN,1162,9,NaN,110,NaN,NaN,294,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,2446,Y,Y,N,Rejected,M,Public,N,NaN,BU Employee,N,NaN,NaN,NaN,12/29/10,NaN,12/9/09,White,NaN,4,NaN,NaN,12/13/08,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,61,41,1115,1542,692,1117,966,2014,NaN,94,1973,NaN,NaN,NaN,17,NaN,14,936,NaN,280,NaN,NaN,66,NaN,NaN,NaN,NaN,NaN
mean,1092.019185,1092.019185,1092.019185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.2494,NaN,NaN,4.018007,3.984154,3.957454,NaN,7.473861,NaN,NaN,3.544429,NaN,3.893749,4.729321,NaN,8.132339,687.909832,705.663789,669.016315,2070.724700
std,633.563075,633.563075,633.563075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7377,NaN,NaN,0.819458,0.845763,0.900674,NaN,4.733078,NaN,NaN,1.042672,NaN,10.987796,3.243709,NaN,0.441365,114.582600,114.921957,110.190529,559.412048
min,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0000,NaN,NaN,1.000000,1.000000,1.000000,NaN,1.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,7.000000,29.000000,52.000000,83.000000,53.000000
25%,543.000000,543.000000,543.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0000,NaN,NaN,3.500000,3.500000,3.500000,NaN,1.000000,NaN,NaN,3.000000,NaN,3.000000,3.000000,NaN,8.000000,656.000000,683.000000,650.000000,2010.000000
50%,1093.000000,1093.000000,1093.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0000,NaN,NaN,4.000000,4.000000,4.000000,NaN,10.000000,NaN,NaN,3.750000,NaN,3.800000,3.840000,NaN,8.000000,716.000000,737.000000,695.000000,2151.000000
75%,1641.000000,1641.000000,1641.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0000,NaN,NaN,5.000000,5.000000,5.000000,NaN,11.000000,NaN,NaN,4.330000,NaN,4.330000,4.700000,NaN,8.000000,758.000000,779.000000,725.000000,2247.000000
max,2188.000000,2188.000000,2188.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0000,NaN,NaN,5.250000,5.250000,5.250000,NaN,12.000000,NaN,NaN,5.080000,NaN,475.000000,15.000000,NaN,12.000000,800.000000,800.000000,2253.000000,22809.000000

In [96]:
# Remove students who didn't take SSAT
student = student.ix[student['SSATTotal'].dropna().index]

In [97]:
student['Ethnicity'] = student['Ethnicity'].astype('str')
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'Black' if re.search('African', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'White' if re.search('White|Caucasian', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'Asian' if re.search('Asian|Chin|India|Korea|Japan', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'Hispanic' if re.search('LatiN|Hispanic|Brazil', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'Multiracial' if re.search('Multiracial|Biracial', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'Native American' if re.search('Native', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'Middle Eastern' if re.search('Middle Eastern', x) else x)
student['Ethnicity'] = student['Ethnicity'].apply(lambda x: 'International' if re.search('International', x) else x)
student['Ethnicity'].unique()

array(['Black', 'nan', 'Middle Eastern', 'White', 'Hispanic',
       'Multiracial', 'Asian', 'Native American', 'International'], dtype=object)

In [75]:
student.to_csv("../data/student/student_cleaned.csv")